<launch>
  <rosparam command="load" file="$(find master_krai)/config/var_gajah.yaml"/>  
  
  <arg name="in_joy" default="/dev/input/js0"/>
  <arg name="conf_ps4" default="$(find joy_2)/config/gajahps4.yaml"/>
  <arg name="stm" default="/dev/ttyACM0"/>  

  <include file="$(find joy_2)/launch/ps4joy.launch">
    <arg name="dev" value="$(arg in_joy)"/>
    <arg name="conf" value="$(arg conf_ps4)"/>
    <arg name="trig_val" value="false"/>
  </include>
  
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" respawn="true">    
    <param name="port" value="$(arg stm)"/>
    <param name="baud" value="115200"/>
  </node>

  <node name="Mekanisme_gajah" pkg="master_krai" type="gajah2.py" output="screen" respawn="true">
  </node>

  <node name="Kinematik" pkg="master_krai" type="kinematics.py" output="screen" respawn="true">    
    <param name="alpha_coeff" type="double" value="0.5"/>
    <param name="vel_coeff" type="double" value="1.35"/>    
  </node>
          
</launch>
